* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container-entrarESQ {
    position: fixed;
    width: 40%;
    height: 100vh;
    background-image: url(../assets/imgs/CidadeSaoPaulo.png);
  }
  
  .container-entrarESQ .logoEntrar {
    width: 30%;
    padding: 30px;
  }
  
  .container-entrarESQ h2 {
    color: #fff;
    width: 65%;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
  }
  
  .container-entrarESQ .conteudoEntrarEsq {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  
  .container-entrarESQ a {
    border-radius: 2px;
    text-decoration: none;
    padding: 12px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    background-color: #000000;
  }
  
  .container-entrarDIR {
    margin-left: 40%;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .conteudoEntrarDir {
    width: 55%;
  }
  
  .conteudoEntrarDir h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .conteudoEntrarDir p {
    font-size: 1rem;
    margin-bottom: 40px;
    color: var(--corTextos);
  }
  
  .EntrarEnvio a {
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5s ease;
    color: var(--corTextos);
  }
  
  .EntrarEnvio a:hover {
    color: var(--roxoSecreto);
  }
  
  .Entrar-campos {
    border-radius: 2px;
    padding: 10px;
    font-size: 1.1rem;
    border: solid 0.5px #b9b9b9;
    margin-bottom: 24px;
    width: 100%;
  }
  
  .EntrarEnvio .Entrar-campos:focus {
    outline: none;
    border: solid 1.5px #3c3c3c;
    color: var(--corTextos);
  }
  
  .conteudoEntrarDir .btnEntrar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .conteudoEntrarDir button {
    border-radius: 2px;
    padding: 12px 15px;
    background-color: #ebebeb;
    color: #3c3c3c;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease;
  }
  
  .btnEntrar button:hover {
    cursor: pointer;
    background-color: #d2b831;
    color: #fff;
  }
  
  .btnEntrar a {
    font-weight: 400;
    font-size: 0.9rem;
  }
  
  .btnEntrar a:hover {
    color: #3c3c3c;
  }
  
.error-message {
  color: red;
  font-size: 12px;
  margin: -20px 0 15px 0;
  display: none;
}

.Entrar-campos.error {
  border: solid 1.5px red !important;
}

.Entrar-campos.valid {
  border: solid 1.5px #4CAF50 !important;
}