/* Aplicando a nova fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #000;
    color: #fff;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
  }
  
  .sidebar img {
    width: 60%;
    margin: 20px auto;
  }
  
  .sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sidebar .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }
  
  .sidebar .menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 40px 15px 50px;
    border-radius: 2px;
    transition: all 0.3s;
  }
  
  .sidebar .menu-item span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .sidebar .menu-item img {
    width: 16%;
    margin: 0px;
  }
  
  .sidebar .menu-item:hover {
    background: #333;
  }
  
  .sidebar .logout {
    margin-top: 100%;
    width: 100%;
  }
  
  .conteudo-interno {
    margin-left: 250px;
  }
  

/* Ajustando a fonte original apenas nas classes especificadas */
.MenuLogo,
.class_Home2 {
    font-family: 'Lato', sans-serif; /* Mantendo 'Lato' em todas as classes */
}

body {
    /* background-color: #ffffff; */
    background-color: #ebebeb;
}

/* nav {
    position: fixed;
    width: 100%;
    background-color: #013220;  
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.MenuLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    padding: 5px;
    box-sizing: border-box;
}

.MenuLogo a {
    display: inline-block;
    position: relative;
}

.MenuLogo a img {
    width: 100%;
    height: auto;
    display: block;
}

.MenuLogo a:hover img {
    border: 1px solid yellow;
}

.MenuLogo a:hover {
    box-shadow: 0 0 10px 2px yellow;
    transition: box-shadow 0.3s ease-in-out;
} */

/* MENU LATERAL */

.class_LinksMenu {
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.class_LinksMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 1.12rem;
}

.class_LinksMenu li {
    width: 100%;
}

.class_LinksMenu a {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FFFEFA;
}
.class_LinksMenu a img {
    width: 100%;
    height: auto;
    display: block;
}

.class_LinksMenu a:hover {
    background-color: #90D26D;
    font-weight: 700;
}

nav .class_botaoUsuario {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

nav .class_botaoUsuario a {
    text-decoration: none;
    color: #FF9800;    
}

nav .class_botaoUsuario {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #013220;
    font-size: 1.0rem;
    color: #FFFEFA;
    cursor: pointer;
}

nav .class_botaoUsuario button:hover a {
    color: #FFFEFA; 
}

nav .class_BotoesMenu button:hover {
    background-color: #FF9800;
    color: #FFFEFA;
    box-shadow: 0px 0px 10px #FF9800;
}

/* main{
    width: 100%;
} */
.class_menuLateral {
    position: fixed;
    background-color: #013220;
    height: 100%;
    width: 16%;
}
#id_btnSair{
    margin-top: 80%;
}



main {
    
    display: flex;
    height: 86.3vh;
    width: 100%;
}

.class_menuLateral {
    position: fixed;
    background-color: #013220;
    height: 100%;
    width: 16%;
}
/* MEXI A PARTIR DAQUI */
.class_cadastro {
    padding-top: 30px;
    width: 84%;
    margin-left: 17%;
}

.class_CadastroFunc{
    margin: auto;
    width: 92%;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ; */
    padding: 40px;
    background-color: white;
    border-radius: 4px;
}
.class_CadastroFunc h1{
    color: #000000;
    font-size: 24px;
    margin-bottom: 26px;
}
.class_iptsCadastroFunc{
    display: flex;
}
.class_iptsCadastroFunc input, select{
    width: 90%;
    padding: 15px 12px;
    margin-top: 5px;
    border: 1px solid #aeaeae;
    background-color: #ffffff;
    margin-bottom: 14px;
    font-size: 16px;
    border-radius: 4px;
}
.class_iptsCadastroFunc input::placeholder{
    color: #000000;
    opacity: 0.5;
    font-size: 16px;
}
.class_iptsCadastroFunc input:focus, select:focus{
    border: 1.7px solid #013220;
    outline: none;
}
.class_separacaoIpts{
    width: 50%;
}
.class_btnCadastroFunc{
    display: flex;
}
.class_btnCadastroFunc button{
    padding: 15px 12px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    /* border-radius: 5px; */
    margin-right: 8px;
    color: #FFFEFA;
    border-radius: 4px;
}
/* #btn_buscarFunc{
    background-color: #FF9800;
}
#btn_buscarFunc:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px #FF9800;
} */
#btn_CadastrarFunc{
   background-color: #90D26D;
}
#btn_CadastrarFunc:hover{
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 0px 5px #90D26D;
}


/* TABELA */
.container {
    width: 92%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
}

h1 {
    font-size: 24px;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    color: #1c1c1c;
}

td {
    color: #333;
}

.delete-btn {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #e5533d;
}
.delete-btn img{
    width: 20px;
}